Samples/BadgeKeeper.Sample/BadgeKeeper.Sample.xcodeproj/xcuserdata
Samples/BadgeKeeper.Sample/BadgeKeeper.Sample.xcodeproj/project.xcworkspace/xcuserdata
Samples/BadgeKeeper.Sample/BadgeKeeper.Sample.xcworkspace/xcuserdata/